#btn{
   background-color: blue;
   padding: .3rem 1rem;
   border: none;
   font-size: 1.5rem;
   margin-top: 2rem;
   color: #fff;
   cursor: pointer;
   border-radius: .3rem;
   -webkit-border-radius: .3rem;
   -moz-border-radius: .3rem;
   -ms-border-radius: .3rem;
   -o-border-radius: .3rem;
}